html {
    background-color: #ffffff;
}

body {
    margin-top: 40px;
    font: 10pt Helvetica Neue, Tahoma, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

#body {
    max-width: 963px;
    margin: auto;
}

#logo {
    float: left;
    width: 129px;
    height: 78px;
    margin-left: 18px;
}

#menu {
    margin-top: 35px;
    margin-left: 18px;
    float: right;
}

#menu li.main {
    float: left;
    margin-right: 5px;
    position: relative;
    z-index: 3;
}

#menu li.main a.main {
  height: 30px;
  line-height: 2em;
  float: left;
  width: 134px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

#menu li.main a.main.active {
  color: #ffffff;
  background: url(/media/img/button.png) #fff bottom left no-repeat;
}

#menu li.main a.main:hover {
  color: #ffffff;
  background: url(/media/img/button.png) #fff bottom left no-repeat;
  filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#menu ul ul {
	position: absolute;
	left: 0;
	top: 30px;
	display: none;
	z-index: 4;
	background: url(/media/img/subbutton_bottom.png) no-repeat left bottom;
	padding-bottom: 15px;
	margin: 0;
	width: 134px;
}

#menu ul ul li {
	display: block;
	width: 129px;
	background: repeat url(/media/img/subbutton_middle.png);
    padding-left: 5px;
    padding-top: 10px;
}

#menu ul ul a {
	border-right-style: none;
    color: #ffffff;
}

#menu ul ul a:hover {
    filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-background: repeat url(images/sub_menu_bg.png);
}

#menu ul ul #current{
}

div#menu ul li:hover ul, div#menu ul ul li:hover ul, div#menu ul ul ul li:hover ul, div#menu ul ul ul ul li:hover ul, div#menu ul ul ul ul ul li:hover ul{
display:block;
}

#container {
  clear: both;
  padding-top: 28px;
  overflow: hidden;
}

#language {
    font-size: x-small;
    text-align: right;
    margin-right: 10px;
}

#content {
  background: url(/media/img/background.png) #fff bottom left no-repeat;
  height: 613px;
  width: 963px;
}

#content-inside {
  padding: 10px;
}

hr {
  margin-top: 65px;
  color: #949494;
  background-color: #949494;
  height: 2px;
  border: 0 none;
}

#footer {
  text-align: center;
  font-size: 80%;
  color: #949494;
  margin-bottom: 20px;
}

/** frontpage **/

#banner {
  height: 292px;
  width: 962px;
}

#content-inside.frontpage {
  padding: 50px;
  text-align: justify;
}

#content-inside.frontpage p {
  margin-bottom: 1em;
}

/** products **/

#content-inside.products {
  padding: 50px;
  text-align: justify;
  font-weight: lighter;
}

#content-inside.products h1 {
  color: #bd3333;
  font-size: 2em;
  margin-bottom: 20px;
}

#content-inside.products #left p {
  margin-top: 2em;
}

#content-inside.products #left p.small {
  font-size: x-small;
  margin-bottom: 1em;
}

#content-inside.products li {
  margin-left: 2.5em;
  list-style: disc;
}

#content-inside.products #left {
    float: left;
    width: 464px;
}

#content-inside.products #right {
    float: right;
    width: 340px;
}

#content-inside.products #one,
#content-inside.products #two,
#content-inside.products #three {
    background: url(/media/img/products/button_grey.png) #fff bottom left no-repeat;
    margin-right: -3px;
    text-align: center;
}

#content-inside.products #one.active,
#content-inside.products #two.active,
#content-inside.products #three.active {
    background: url(/media/img/products/button_black.png) #fff bottom left no-repeat;
}

#content-inside.products #one,
#content-inside.products #two {
    margin-bottom: 10px;
}

#content-inside.products #three {
    margin-bottom: 15px;
}

#content-inside.products #one a,
#content-inside.products #two a,
#content-inside.products #three a {
    width: 29px;
    height: 25px;
    display: block;
    padding-top: 5px;
    font-weight: bold;
    color: #fff;
}

#content-inside.products td {
    vertical-align: bottom;
}

/** gallery **/

#content-inside.gallery img.thumb {
    width: 52px;
    height: 52px;
    margin-bottom: 14px;
    margin-top: 4px;
}

#content-inside.gallery {
  text-align: center;
}

/** contact **/

#bar {
  width: 962px;
  height: 32px;
  background-image: url(/media/img/bar.png);
  color: #ffffff;
  overflow: hidden;
}

#bar p {
  padding-top: 8px;
  padding-left: 12px;
  text-transform: uppercase;
}

#content-inside.contact {
  text-align: center;
  line-height: 1.5em;
  margin-top: 200px;
  font-size: 1.15em;
}

#content-inside.contact h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
