html {
    background-color: #ffffff;
}

body {
    margin-top: 40px;
    font: 10pt Helvetica Neue, Tahoma, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

#body {
    max-width: 963px;
    margin: auto;
}

#logo {
    float: left;
    width: 129px;
    height: 78px;
    margin-left: 18px;
}

#menu {
    margin-top: 35px;
    margin-left: 18px;
    float: right;
}

#menu li {
    float: left;
    margin-right: 5px;
}

#menu li a {
  height: 30px;
  line-height: 2em;
  float: left;
  width: 105px;
  display: block;
  text-align: center;
}

#menu li a.active {
  color: #ffffff;
  background: url(/media/img/button.png) #fff bottom left no-repeat;
}

#menu li a:hover {
  color: #ffffff;
  background: url(/media/img/button.png) #fff bottom left no-repeat;
  filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#content {
  clear: both;
  padding-top: 38px;
  background: url(/media/img/background.png) #fff bottom left no-repeat;
  height: 613px;
  width: 963px;
  overflow: hidden;
}

#content-inside {
  padding: 10px;
}

hr {
  margin-top: 65px;
  color: #949494;
  background-color: #949494;
  height: 2px;
  border: 0 none;
}

#footer {
  text-align: center;
  font-size: 80%;
  color: #949494;
  margin-bottom: 20px;
}

/** frontpage **/

#banner {
  height: 292px;
  width: 962px;
}

#content-inside.frontpage {
  padding: 50px;
  text-align: justify;
}

#content-inside.frontpage p {
  margin-bottom: 1em;
}

/** contact **/

#bar {
  width: 962px;
  height: 32px;
  background-image: url(/media/img/bar.png);
  color: #ffffff;
  overflow: hidden;
}

#bar p {
  padding-top: 8px;
  padding-left: 12px;
  text-transform: uppercase;
}

#content-inside.contact {
  text-align: center;
  line-height: 1.5em;
  margin-top: 200px;
  font-size: 1.15em;
}

#content-inside.contact h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
